body {
    background-image: url("wall.jpg");
}

.main {
    background-color: transparent;
    margin: auto;
    color: #000;
}
h1 {
    text-align: center;
    margin-bottom: 75px;
    margin-left: 33px;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 33px;
}

.button {
    margin-left: 550px;
    margin-bottom: 10px;
    padding: 10px 40px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: medium;
    background-color: #0c0e65;
    color: #FFF;
    font-family: Arial;
    width: 250px;
}

.publish-button {
    margin-left: 10px;
    padding: 10px 10px;
}