body {
    background-image: url("back.jpg");
}

.main {
    background-color: #fffaaa;
    width: 29%;
    border: solid 1px #000;
    margin-left: 35%;
    box-shadow: inset 3px 3px 2px #000000, inset -3px -3px 2px #000000;
    font-family: Arial;
}

.userpage {
    text-align: center;
    margin-left: 33px;
    margin-bottom: 60px;
}

.user-name {
    margin-left: 33px;
}

.user-role {
    margin-left: 33px;
}

.user-email {
    margin-left: 33px;
}

.save-button {
    margin-left: 140px;
    margin-bottom: 25px;
}